@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap&subset=latin-ext');
body, html {
    font-size: 16px;
}
.container{
    max-width: 1170px !important; ;}
p{
    margin-bottom: 0;
}
a{
    text-decoration: none;
}

.dropdown-btn i{
    position: absolute;
}

.authorization-input {
    text-align: center;
    margin-bottom: .5rem;
}

.modal-content {
    background: #212529;
    border: #000;
    color: #fff;
}
.modal-content .modal-header{
    justify-content: center;
}
.modal-content .modal-header .close{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.register-button {
    background: #DD2A1B;
    color: #fff;
}

.before-load {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1001;
}
.before-load img {
    position: absolute;
    top: 15%;
    left: 30%;
    height: 500px;
    width: 500px;
}
.top-right{
    top: -20% !important;
    left: 0 !important;
    transform: scale(0.5);
    transition: all .5s ease-in-out;
}
.header{
    position: relative;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
    background: rgba(0,0,0,0.4);
    min-height: 750px;
}

.header video {
    z-index: -2;
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.modal-header {
    text-transform: uppercase;
}
.menu-bg{
    text-transform: uppercase;
    background: linear-gradient(rgba(40, 40, 40, 1),rgba(40, 40, 40, 1)), url("../images/main-bg-sm.jpg");
    padding: 20px 0;
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.75);
}
.hide-load{
    overflow: inherit !important;
}
.menu{
    display: flex;
    float: right;
    padding-top: 10px;
    margin-right: 0%;
    width: 100%;
    justify-content: flex-end;
}

.menu p{
    margin: 10px;
    color: #FFFFFF;
    font: 500 15px 'Raleway Medium',sans-serif;
    letter-spacing: 0.06em;
}

.new-menu {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: center;
}

.new-menu a:hover{
    text-decoration: none;
}

.new-menu a{
    color: #fff;
}

.new-menu  .dropdown-menu{
    color: #000;
    position: relative;
}

.new-menu  .dropdown-menu a{
    color: #000;
    position: relative;
}

.new-menu div {
    position: relative;
}

.close:focus {
  outline: none !important;
}

.socials {
  position: absolute;
  display: inline-block;
}

.new-menu div:last-child .dropdown-toggle::before {
    display: none !important;
    position: absolute;
    left: -45% !important;
    top: 46%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.new-menu .dropdown-toggle::before {
    position: absolute;
    left: -17%;
    top: 46%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.dropdown-toggle::after {
    display: none !important;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.new-menu div{
    color: #fff;
    margin: 0 4%;
    cursor: pointer;
}
.toggle-menu{
    display: none;
}
.toggle-menu ul{
    list-style: none;
    display: flex;
    padding-left: 0;
    margin-top: 2px;
}
.toggle-menu ul li a{
    color: #FFFFFF;
    font: 500 12px 'Raleway Medium',sans-serif;
    letter-spacing: 0.06em;
    padding: 0 10px;
}
.menu-cover {
    background-color: transparent;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.menu-cover .hamburger {
    width: 30px;
    height: 2px;
    position: absolute;
    background-color: #FAE013;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.menu-cover .hamburger::before {
    content: '';
    position: absolute;
    top: -10px;
    width: 30px;
    height: 2px;
    background-color: #FAE013;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.menu-cover .hamburger::after {
    content: '';
    position: absolute;
    top: 10px;
    width: 30px;
    height: 2px;
    background-color: #FAE013;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.menu-cover.is-active .hamburger {
    background-color: transparent;
    -webkit-box-shadow: transparent;
    box-shadow: transparent;
}

.menu-cover.is-active .hamburger::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-cover.is-active .hamburger::after {
    top: 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
/*mobile menu*/
.dropdown > label { display: block; }
.dropdown > input + ul + div:after {
    content: "";
    width: 15px;
    height: 10px;
    background: url(/pictures/ico-str00.png) center center no-repeat;
    display: block;
    position: absolute;
    right: 20%;
    top: 17px;
    margin-top: -5px;
    background-size: 100%;
}
.dropdown > input:checked + ul + div:after {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari 3-8 */
    transform: rotate(180deg);
}
.dropdown input { display: none; }
.dropdown input + ul { display: none; }
.dropdown input + ul li a { text-align: left; padding: 0.5rem 5%!important; font-size: calc(20px - .5vw); }
.dropdown input:checked + ul { display: block; }
.dropdown input:checked + ul li:first-child { padding-top: 15px; }
.drawer-list {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 50vw;
    transform: translate(-100vw, 0);
    /* ie workaround */
    -ms-transform: translatex(-100vw);
    box-sizing: border-box;
    pointer-events: none;
    padding-top: 95px;
    transition: width 475ms ease-out, transform 450ms ease, border-radius .8s .1s ease;
    border-bottom-right-radius: 100vw;
    background-color: #DD2A1B;
    background-color: rgba(221, 42, 27,0.8);
}
@media (min-width: 768px) {
    .drawer-list {
        width: 40vw;
    }
}
.drawer-list ul {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
    pointer-events: auto;
}
.drawer-list li {
    list-style: none;
    text-transform: uppercase;
    pointer-events: auto;
    white-space: nowrap;
    box-sizing: border-box;
    transform: translatex(100vw);
    /* ie workaround */
    -ms-transform: translatex(-100vw);
}
.drawer-list li:last-child {
    margin-bottom: 1em;
}
.drawer-list li a {
    text-decoration: none;
    color: #FEFEFE !important;
    text-align: center;
    display: block;
    padding: 0.5rem;
    font-size: calc(24px - .5vw);
    font-weight: 500;
}
@media (min-width: 768px) {
    .drawer-list li a {
        text-align: right;
        padding: .5rem;
    }
}
@media (max-width: 500px) {
    .drawer-list {
        width: 70vw;
    }
    .drawer-list li a {
        font-size: calc(20px - .5vw);
    }
    .dropdown input + ul li a {
        font-size: calc(17px - .5vw);
    }
}


.drawer-list li a:hover {
    cursor: pointer;
    background-color: #DD2A1B;
    background-color: rgba(221, 42, 27,0.5);
}

input.hamburger {
    display: none;
}
input.hamburger:checked ~ .drawer-list {
    transform: translatex(0);
    border-bottom-right-radius: 0;
}
input.hamburger:checked ~ .drawer-list li {
    transform: translatex(0);
}
input.hamburger:checked ~ .drawer-list li:nth-child(1) {
    transition: transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(2) {
    transition: transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(3) {
    transition: transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(4) {
    transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(5) {
    transition: transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(6) {
    transition: transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(7) {
    transition: transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(8) {
    transition: transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(9) {
    transition: transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(10) {
    transition: transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(11) {
    transition: transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(12) {
    transition: transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(13) {
    transition: transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(14) {
    transition: transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(15) {
    transition: transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(16) {
    transition: transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(17) {
    transition: transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(18) {
    transition: transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(19) {
    transition: transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(20) {
    transition: transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(21) {
    transition: transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(22) {
    transition: transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(23) {
    transition: transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(24) {
    transition: transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(25) {
    transition: transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(26) {
    transition: transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(27) {
    transition: transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(28) {
    transition: transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(29) {
    transition: transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(30) {
    transition: transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(31) {
    transition: transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(32) {
    transition: transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(33) {
    transition: transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(34) {
    transition: transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(35) {
    transition: transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(36) {
    transition: transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(37) {
    transition: transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(38) {
    transition: transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(39) {
    transition: transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(40) {
    transition: transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(41) {
    transition: transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(42) {
    transition: transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(43) {
    transition: transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(44) {
    transition: transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(45) {
    transition: transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(46) {
    transition: transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(47) {
    transition: transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(48) {
    transition: transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(49) {
    transition: transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(50) {
    transition: transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li a {
    padding-right: 15px;
}
input.hamburger:checked ~ label > i {
    background-color: transparent;
    transform: rotate(90deg);
}
input.hamburger:checked ~ label > i:before {
    transform: translate(-50%, -50%) rotate(315deg);
    top: 0px;
}
input.hamburger:checked ~ label > i:after {
    transform: translate(-50%, -50%) rotate(-315deg);
    top: 0px;
}
input.hamburger:checked ~ label close {
    color: #FEFEFE;
    width: 100%;
}
input.hamburger:checked ~ label open {
    color: transparent;
    width: 0;
}

label.hamburger {
    z-index: 9999;
    position: relative;
    display: block;
    height: 40px;
    width: 50px;
}
label.hamburger:hover {
    cursor: pointer;
}
label.hamburger text close,
label.hamburger text open {
    text-transform: uppercase;
    font-size: .8em;
    align-text: center;
    position: absolute;
    transform: translateY(50px);
    text-align: center;
    overflow: hidden;
    transition: width .25s .35s, color .45s .35s;
}
label.hamburger text close {
    color: transparent;
    width: 0;
    left: 0;
}
label.hamburger text open {
    color: #FAE013;
    width: 100%;
    left: 0;
}
label.hamburger > i {
    position: absolute;
    width: calc(100% - 20px);
    height: 2px;
    top: 50%;
    background-color: #FAE013;
    pointer-events: auto;
    transition-duration: .35s;
    transition-delay: .35s;
}
label.hamburger > i:before, label.hamburger > i:after {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    left: 50%;
    background-color: #FAE013;
    content: "";
    transition: transform 0.35s;
    transform-origin: 50% 50%;
    top: 4px;
}
label.hamburger > i:before {
    transform: translate(-50%, -14px);
}
label.hamburger > i:after {
    transform: translate(-50%, 14px);
    top: -4px;
}
label.hamburger {
    position: fixed;
    top: 30px;
    left: 2%;
    background: #DD2A1B;
    padding: 10px;
    z-index: 50;
    border-radius: 5px;
    transition: .3s all .3s;

}

/* ХАК VIEW */

.comp-view { display: block; }

.mob-view { display: none; }

content.mob-view {
    z-index:999;
    position: fixed;
    left: 0;
    top: 0;
}

@media only screen and (max-width: 767px) {

    .mob-view { display: block; }

    .comp-view { display: none; }

}
.menu-row{
    display: flex;
    justify-content: flex-end;
}
/*end mobile menu*/
.search input{
    border: none;
    background: url("../images/search.svg") no-repeat 0 5px;
    cursor: pointer;
    width: 30px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    height: 35px;
    border-radius: 5px;
    padding-left: 40px;
}
.search input:focus {
    margin-top: 5px;
    padding-left: 10px;
    width: 250px;
    padding-right: 3rem;
    outline: none;
    background: #FFFFFF url("../images/search.svg") no-repeat 95% center;
}
.search{
    padding-top: 15px;
    padding-right: 37px;
}
/*.search input{*/
/*    opacity: 0;*/
/*    border: 1px solid #FAE013;*/
/*    width: 100%;*/
/*}*/
/*.search input:hover,*/
/*.search input:focus,*/
/*.search input:active{*/
/*    transition: all .3s ease-in-out;*/
/*    opacity: 1;*/
/*    background: #FFFFFF;*/
/*    border: 1px solid #FAE013;*/
/*    padding-left: 10px;*/
/*    font: 300 12px 'Raleway Medium',sans-serif;*/
/*    letter-spacing: 0.06em;*/
/*}*/
/*.search button{*/
/*    cursor: pointer;*/
/*    border: none;*/
/*    background: transparent;*/
/*    outline: none;*/
/*}*/
/*.search button:hover .search input{*/
/*    transition: all .3s ease-in-out;*/
/*    opacity: 1;*/
/*}*/
.phone{
    padding-top: 15px;
}
.phone a{
    padding-top: 15px;
    color: #FFFFFF;
    font: 500 16px 'Raleway Medium',sans-serif;
    letter-spacing: 0.06em;
}
.lang{
    padding-top: 15px;
    float: right;
}
.lang select{
    background: transparent;
    border: none;
    font-family: Raleway,sans-serif;
    font-style:  normal;
    font-weight: 300;
    font-size: 14px;
    color: #FAE013;
}
.main-text{

    width: 35%;
    margin: auto;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 15%;
}
.main-text h4{
    position: relative;
}
.main-text h4 .new p{
    position: absolute;
    right: 0;
    top: -18px;
    font: bold 18px/22px 'Raleway',sans-serif;
    letter-spacing: 0.06em;
    color: #DD2A1B;

}
.main-text h4{
    font: 700 30px 'Roboto Slab Bold',sans-serif;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 2;
}
.main-text p{
    font: 300 14px/22px 'Roboto Slab Thin',sans-serif;
    letter-spacing: 0.14em;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.main-text h5{
    font: normal 18px/29px 'Roboto Slab Regular',sans-serif;
    letter-spacing: 0.14em;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.price p{
    font: normal 18px/29px 'Roboto Slab Regular',sans-serif;
    letter-spacing: 0.14em;
    color: #fae013;
    margin-bottom: 20px;
}
.order-btn a{
    display: inline-block;
    font: normal 18px/29px 'Roboto Slab Regular',sans-serif;
    letter-spacing: 0.14em;
    color: #FFFFFF;
    background-color: rgb(221, 42, 27, .7);
    height: 42px;
    border: 1px solid transparent;
    cursor: pointer;
    min-width: 230px;
}
.order-btn a:hover{
    color: #fae013;
    transition: all .3s ease-out;
    font-size: 22px;
}

.order-btn{
    text-align: center;
}
.basket{
    margin-top: 28%;
    position: relative;
    float: right;
    margin-right: 20px;
}
.basket .circle{
    position: absolute;
    top: -10px;
    right: -15px;
    font: 12px/16px Circe,sans-serif;
    text-align: center;
    color: #FFFFFF;
    background-color: #DD2A1B;
    height: 22px;
    width: 22px;
    line-height: 22px;
    border-radius: 50%;
}
.socials ul {
    list-style: none;
    padding-left: 0;
    width: 50px;
    height: 130px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 55;
}
.socials ul li{
    -webkit-clip-path: polygon(100% 0, 100% 65%, 50% 100%, 0 63%, 0 0);
    clip-path: polygon(100% 0, 100% 65%, 50% 100%, 0 63%, 0 0);
    background-color: #DD2A1B;
    height: 70px;
    text-align: center;
    z-index: 10;
    position: absolute;
    width: 50px;
    top: 26%;
    right: 0;
}
.dropdown-item {
    text-transform: uppercase
}
.socials ul li:first-child{
    height: 62px;
    position: absolute;
    z-index: 8;
    top: 0;
}
.socials ul li:first-child i{
    margin-top: 10px;
}
.socials ul li:nth-child(2){
    /* margin-top: -30px; */
    z-index: 7;
    position: absolute;
    width: 50px;
    top: 27%;
    right: 0;
    height: 86px;
    
}
.socials ul li:nth-child(3){
    /*margin-top: -20px; */
    z-index: 3;
    padding-top: 4px;
    position: absolute;
    width: 50px;
    height: 72px;
    top: 67.5%;
    right: 0;
    
}
.socials ul li a i{
    margin-top: 30px;
    font-size: 20px;
    color: #FFFFFF;
}
.socials ul li:hover{
    background-color: #FFFFFF;
    transition: all .3s ease-in-out;
}
.socials ul li:hover i{
    color: #dd2a1b;
    transition: all .3s ease-in-out;
}
.partners{
    display: block;
    margin: 80px auto 0;
    width: 35%;
}
.partners p{
    font: normal 18px/29px 'Roboto Slab Regular',sans-serif;
    letter-spacing: 0.14em;
    color: #FFFFFF;
    text-transform: uppercase;
}
.partners a{
    padding: 0 10px;
}
.partners a img{
    border-radius: 9px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.partners a:hover img{
    transition: all .3s ease-in-out;
    transform: scale(1.1);
}
.main-food-bg{
    background: url("../images/new-background.png") ;
    height: 100%;
    background-size: cover;
}
.food-img img{
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.75);
}
.section1{
    padding: 70px 0;
    /* background-image: url("../images/food1.png"),url("../images/4.png"); */
    background-attachment: fixed;
    background-position: left top, right top;
    background-repeat: no-repeat;
    position: relative;
}
.rel-bg{
    position: relative;
}
.carton1{
    margin-left: 100px;
    position: absolute;
    background: url("../images/carton1.jpg") no-repeat 20% center;
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.75);
    height: 370px;
    width: 470px;
    padding-left: 20px;
}
.carton1 .title h4{
    margin-top: 50px;
    margin-left: -80px;
    color: #FFFFFF;
    font: 700 24px/29px 'Roboto Slab Bold',sans-serif;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding-bottom: 20px;
    width: 465px;
    border-bottom: 2px solid #FAE013;
}
.black-text p{
    margin-top: 20px;
    color: #070707;
    font: normal 21px/29px 'Roboto Slab Regular',sans-serif;
    text-align: center;
    letter-spacing: 0.14em;
    text-transform: uppercase;
}
.carton1-text p{
    margin-top: 20px;
    color: #FFFFFF;
    font: 300 14px/20px 'Roboto Slab Light',sans-serif;
    letter-spacing: 0.14em;
}
.phone-select{
    margin-left: 150px;
    position: absolute;
    bottom: -10%;
    display: flex;
}
.img-wrap{
    border: 1px dashed #FFFFFF;
    height: 56px;
    width: 160px;
}
.img-wrap img{
    display: block;
    margin: 10px auto;
}
.btn-secondary {
    margin-top: 10px;
    margin-left: -20px;
    color: #fff;
    background-color: #3D3D3D;
    border-color: #3D3D3D;
    border-radius: 0;
}
.section2{
    /* background-image: url("../images/food3.png"); */
    background-attachment: fixed;
    background-position: right center;
    background-repeat: no-repeat;
    position: relative;
    min-height: 505px;
    overflow-x: hidden;

}
.space-top{
    margin-top: 100px;
}

@media (max-width: 780px) {
    .food-img img {
        display: none;
    }
}
.carton2{
    position: absolute;
    left: -88px;
    background: url("../images/carton3.jpg");
    height: 505px;
    width: 600px;
    padding-left: 110px;
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.75);
}
.carton2 .title h4{
    margin-top: 50px;
    color: #FFFFFF;
    font: 700 24px/29px 'Roboto Slab Bold',sans-serif;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding-bottom: 20px;
    border-bottom: 2px solid #FAE013;
    width: 52%;
}
.dash-box{
    margin: 30px 0;
    display: flex;
    border: 3px dashed #FAE013;
    padding: 20px;
    width: 110%;
}
.dash-box .icon{
    padding: 0 30px;
}
.dash-box .input-block input{
    background: #F6F6F6;
    box-shadow: 0px 12px 44px rgba(0, 0, 0, 0.22);
    border: none;
    height: 47px;
    width: 100%;
    padding-left: 10px;
    margin: 30px 0;
}
.dash-box .input-block button{
    background: transparent;
    padding: 10px 30px;
    color: #FFFFFF;
    font: 300 14px/20px 'Roboto Slab Light',sans-serif;
    letter-spacing: 0.6em;
    border: 1px solid transparent;
    cursor: pointer;
}
.dash-box .input-block button:hover{
    transition: all .3s ease-in-out;
    border: 1px solid #FFFFFF;
}
.section3{
    /* padding: 70px 0; */
    /* background-image: url("../images/2.png"),url("../images/food5.png"),url("../images/food6.png"); */
    background-attachment: fixed;
    background-position: left top, right top,left bottom;
    background-repeat: no-repeat;
    position: relative;
    min-height: 465px;
    overflow-x: hidden;
}

.carton3{
    margin-left: 26%;
    position: absolute;
    background: url("../images/carton3.jpg") no-repeat 20% center;
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.75);
    height: 505px;
    width: 900px;
    padding-left: 15%;
}
.carton3 .hor-line{
    border-bottom: 2px dashed rgba(0, 0, 0, 0.2);
    width: 70%;
    position: absolute;
    top: 54%;
}
.carton3 .ver-line{
    border-right: 2px dashed rgba(0, 0, 0, 0.2);
    height: 63%;
    position: absolute;
    left: 54%;
}
.carton3 .title h4{
    margin-top: 50px;
    color: #FFFFFF;
    font: 700 24px/29px 'Roboto Slab Bold',sans-serif;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding-bottom: 20px;
    border-bottom: 2px solid #FAE013;
    width: 200px;
}
.menu-box{
    display: flex;
    flex-wrap: wrap;
}
.menu-item{
    padding-bottom: 10px;
    padding-right: 10px;
    margin: 10px;
}

.menu-item h6{
    font: 300 18px/29px 'Roboto Slab Light',sans-serif;
    color: #FFFFFF;
    letter-spacing: 0.14em;
}
.menu-item p{
    font: 300 11px/18px 'Roboto Slab Light',sans-serif;
    color: #FFFFFF;
    letter-spacing: 0.09em;
}
.menu-item .price p{

    font: normal 18px/29px 'Roboto Slab',sans-serif;
    color: #FFFFFF;
    letter-spacing: 0.14em;
}
.menu-btn button{
    font: normal 14px/22px 'Roboto Slab Regular',sans-serif;
    letter-spacing: 0.14em;
    color: #FFFFFF;
    text-align: center;
    background-color: #3D3D3D;
    box-shadow: 0px 12px 44px rgba(0, 0, 0, 0.22);
    border: 1px solid #3D3D3D;
    padding: 5px 20px;
    cursor: pointer;
    width: 140px;
}
.menu-btn button:hover{
    transition: all .3s ease-in-out;
    font-size: 17px;
}
.show-more button{
    font: normal 14px/22px 'Roboto Slab',sans-serif;
    text-align: center;
    letter-spacing: 0.14em;
    color: #FFFFFF;
    border: 2px solid #FAE013;
    width: 200px;
    height: 33px;
    background: transparent;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 20%;
}
.show-more button:hover{
    transition: all .3s ease-out;
    font-size: 18px;
}
.img-box{
    position: absolute;
    z-index: 5;
    display: flex;
    flex-wrap: wrap;
    top: 20px;
    max-width: 520px;
    max-height: 520px;
    width: 100%;
}
#expandedImg{
    width: 100%;
    height: 100%;
}
.img-box img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    cursor: pointer;
}
.img-box .img-item{
    padding: 10px;
}
.img-item img{
    cursor: pointer;
}
.img-item img:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all .3s ease-in-out;
    transform: scale(0.95);
}
.section4{
    /* padding: 70px 0 ; */
    /* background-image: url("../images/3.png"),url("../images/5.png"),url("../images/food3.png"); */
    background-attachment: fixed;
    background-position: left bottom, right top,right bottom;
    background-repeat: no-repeat;
    position: relative;
    min-height: 700px;
}
.top-btn{
    position: absolute;
    right: 2%;
    bottom: 0;
    cursor: pointer;
    z-index: 99999;
}
.top-btn:hover{
    transition: all .3s ease-in-out;
    transform: scale(1.1);
}
.main-title h5{
    display: block;
    margin: auto;
    margin-top: 50px;
    color: #fff;
    font: 700 24px/29px 'Roboto Slab Bold',sans-serif;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #FAE013;
    width: 300px;
    text-transform: uppercase;
}
.map{
    margin-top: 40px;
}
.owl-carousel-newSlider {

}

.new-menu ul{
    background-image: url(../images/arrow-down.svg);
}

.new-menu div:first-child ul {
    background-image: url(../images/arrow-down.svg);
    background-repeat: no-repeat;
    background-position-x: 17%;
    background-position-y: 50%;
}

.new-menu div:last-child ul {
    background-image: url(../images/arrow-down.svg);
    background-repeat: no-repeat;
    background-position-x: 34%;
    background-position-y: 50%;
}
.pros-card {
    width: 100%;
    margin: auto;
    background: #fff;
    padding: 5% 9%;
    margin-top: 5%;
}

.pros-card {
   text-align: center;
}
.pros-card img{
    width: 50% !important;
    height: 50% !important;
}

.pros-card h2{
    border-bottom: 1px solid #FAE013;
    font-size: 48px;
    text-transform: uppercase;
    font: bold  'Roboto Slab',sans-serif;
}

.pros-card h3{
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    font: lighter  'Roboto Slab',sans-serif;
}
.pros-card p span{

    font-size: 28px;
    text-transform: uppercase;
    font: lighter  'Roboto Slab',sans-serif;
}

.grid-box {
    grid-template: "div div div div div";
    display: grid;
    width: 100%;
    overflow-x: hidden;
}


@media (max-width: 720px) {

    .grid-box {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow-x: hidden;
    }
    .pros-card h2{
        font-size: 20px !important;
    }
    .pros-card h3{
        font-size: 12px !important;
    }
    .pros-card p{
        font-size: 12px !important;
    }
    .section2 {

        min-height: 355px;

    }
    .main-text {
        width: 100%;
    }
    .partners {
        text-align: center;
    }
    .menu-bg .col-sm-2 {
        text-align: center;
    }
}


.grid-item{
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    cursor: pointer;
    height: 100%;
}

.grid-item p{
    color: #fff;
    font-size: 24px;
    transition: all .5s  cubic-bezier(0.075, 0.82, 0.165, 1);
    margin-bottom: 0px;
    border-bottom: 0px solid rgb(255, 255, 255 , 0);
}

.grid-item:hover p{
    border-bottom: 1px solid rgb(255, 255, 255 , 1);
    margin-bottom: 3px;
}

.grid-item img{
    width: 100%;
    max-height: 387px;
}

.grid-item p{
    display: inline-block;
    height: 15%;
    position: absolute;
    bottom: 5%;
}
.absolute-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background:  rgba(0, 0, 0, 0.38);
    transition: all .5s  cubic-bezier(0.075, 0.82, 0.165, 1);
}

.grid-item:hover .absolute-gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0);
}


.pros-card p{

    font-size: 28px;
}

.glide__arrow{
    border: none !important;
    box-shadow: none !important;
}

.glide__arrow img {
    width: 50%;
}

.glide__arrow--left {
    left: -5% !important;
    border: none;
    box-shadow: none;
}

.glide__arrow--right {
    right: -5% !important;
    border: none;
    box-shadow: none;
}
.owl-carousel .owl-nav button.owl-prev{
    background: url("../images/left.svg")no-repeat;
    height: 33px;
    width: 33px;
    opacity: 1 !important;
}
.owl-carousel .owl-nav button.owl-next{
    background: url("../images/right.svg")no-repeat;
    height: 33px;
    width: 33px;
    opacity: 1 !important;
}
.owl-nav button span{
    display: none;
}
.owl-carousel .owl-nav button:focus{
    outline: none;
}
.owl-carousel .owl-item img {
    max-height: 500px;
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: block;
}
.owl-carousel .item {
    /* background: url('../images/carton3.jpg') no-repeat center center; */
    background: #fff;
    height: 175px;
    position: relative;
    width: 100%;
}

.owl-carousel .item .circle{
    position: absolute;
    top: 0;
    left: 45%;
    border: 2px solid #FAE013;
    border-radius: 50%;
    height: 33px;
    width: 33px;
    color: #000;
    font:500 24px 'Raleway Medium',sans-serif;
    line-height: 26px;
    text-align: center;
    z-index: 9999;
}
.owl-carousel .item .loc{
    display: flex;
    position: absolute;
    top: 40px;
    left: 20px;
}
.owl-carousel .item .loc p{
    font: normal 11px/18px 'Roboto Slab',sans-serif;
    color: #000;
    display: block;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    width: 210px;
}
.owl-carousel .owl-item img {
    display: initial;
    width: auto;
}
.owl-carousel .item .loc .icon img{
    height: 30px;
    margin-right: 10px;
}
.car-sep{
    position: absolute;
    top: 80px;
    border: 1px solid #FAE013;
    width: 95%;
}
.owl-carousel .item .clock{
    display: flex;
    position: absolute;
    top: 90px;
    left: 20px;
}
.owl-carousel .item .phone{
    display: flex;
    position: absolute;
    top: 130px;
    left: 20px;
}
.owl-carousel .item .clock .icon img,
.owl-carousel .item .phone .icon img{
    margin-right: 10px;
    width: 20px;
}
.owl-carousel .item .clock p,
.owl-carousel .item .phone p{
    margin-top: 5px;
    margin-right: 10px;
    font: 300 11px/18px 'Roboto Slab Light',sans-serif;
    color: #000000;
    display: block;
    letter-spacing: 0.09em;
}
.line-bg{
    /* background: url("../images/bg-line.jpg") repeat-x center; */
    margin-top: -120px;
}
.footer{
    background: #282828;;
}

.footer .partners{
    width: auto;
    margin: 0;
}
.mobile-version{
    display: none;
}
.desktop-version{
    display: block;
}
.inner-bg{
    background: url("../images/main-bg-sm.png");
    min-height: 500px;
}
.parallax-wrap{
    /* padding: 70px 0; */
    min-height: 500px;
    background-image: url("../images/food1.png"),url("../images/food3.png");
    background-attachment: fixed;
    background-position: left top, right top, center bottom;
    background-repeat: no-repeat;
    position: relative;
}
.inner-title h3{
    font:700 24px/29px 'Roboto Slab Bold',sans-serif;
    color: #000;
    text-align: center;
}
.inner-title h3:before{
    content: "";
    position:absolute;
    left:0; right:0;
    top:20%;
    margin:10px auto 50px;
    width:10%;
    height:6px;
    background:#fff343;
}
.bread-crumbs ul{
    list-style: none;
    display: flex;
    padding-left: 0;
}
.bread-crumbs ul li{
    font: 14px/28px 'Roboto Slab Regular',sans-serif;
    color: #FFFFFF;
    padding: 0 5px;
}
.bread-crumbs ul li a{
    color: #FFFFFF;
}
.bread-crumbs ul li a:hover,
.bread-crumbs ul li:last-child a{
    color: #fff343;
}
.nav{
    display: block;
}
.nav-tabs{
    border: none;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    font: 14px/28px 'Roboto Slab Regular',sans-serif;
    color: #fff343;
}
.nav-tabs .nav-link.active{
    border: none;
    background: transparent;
}
.nav-tabs .nav-link{
    font: 14px/28px 'Roboto Slab Regular',sans-serif;
    color: #FFFFFF;
    border: none;
}
.border-right-strip{
    border-right: 1px dashed #FFFFFF;
}
.tab-title h6{
    font:18px/29px 'Roboto Slab Regular',sans-serif;
    color: #fff343;
}
.tab-title p{
    color: #Fff;
    font-size: 17px;
}
.cabinet-input input{
    font: 14px/28px 'Roboto Slab Regular',sans-serif;
    color: #FFFFFF;
    border: 1px solid #fff343;
    background: transparent;
    padding-left: 10px;
    outline: none;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
}
.cabinet-input input::placeholder{
    color: #FFFFFF;
}
.cabinet-input label{
    font: 14px/28px 'Roboto Slab Regular',sans-serif;
    color: #FFFFFF;
}
.save-btn button{
    font: 16px/28px 'Roboto Slab Regular',sans-serif;
    color: #FFFFFF;
    background-color: #3d3d3d;
    border: none;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 40px;
    cursor: pointer;
}
.save-btn button:hover{
    font-size: 18px;
    transition: all .3s ease-in-out;
}
.space-top-sm{
    margin-top: 40px;
}
.inner-up-btn {
    margin-top: 40px;
    float: right;
    color: #ffffff;
    font: 14px/28px 'Roboto Slab Regular',sans-serif;
    text-decoration: none;
    cursor: pointer;
}
.inner-up-btn img{
    margin-left: 10px;
}
.inner-up-btn:hover img{
    transition: all .3s ease-in-out;
    transform: scale(1.1);
}

.vacancy-item .button-apply {
    color: #fff;
    background: #DD2A1B;
    padding: .5rem;
    border-radius: 7px;
    margin-top: .5rem;
    display: inline-block;

}
.vacancy-item{
    margin-bottom: 50px;
    padding-left: 50px;
}
.vacancy-item a{
    text-decoration: none;
}
.vacancy-item h6{
    color: #ffffff;
    font: 16px/28px 'Roboto Slab Regular',sans-serif;
}
.vacancy-item p{
    color: #ffffff;
    font: 14px/28px 'Roboto Slab Regular',sans-serif;
}
.salary p{
    color: #ffffff;
    font: 16px/28px 'Roboto Slab Regular',sans-serif;
}
.salary span{
    color: #fff343;
    margin-right: 5px;
}
.pagination ul{
    margin-top: 50px;
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: center;
}
.pagination ul li{
    color: #ffffff;
    font: 16px/28px 'Roboto Slab Regular',sans-serif;
    padding: 0  5px;
}
.pagination ul li a{
    color: #ffffff;
    text-decoration: none;
}
.pagination ul li a:hover{
    color: #fff343;
}
.pagination .active a {
    color: #fff343;
}
.product-card-bg{
   
    background-size: cover;
    background: url(../images/bg-card.png);
    padding: 29px 70px;
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.75);
    background-repeat-y: repeat;
    background-position-y: -3rem;
}
.product-img img{
    padding-right: 10px;
    padding-bottom: 10px;
    border-right: 1px dashed #fff343;
    border-bottom: 1px dashed #fff343;
}
.product-title h5{
    font:700 24px/29px 'Roboto Slab Bold',sans-serif;
    color: #FFFFFF;
}
.product-title h5:before{
    content: "";
    position:absolute;
    left:2%;
    top:10%;
    margin:10px auto 50px;
    width:20%;
    height:4px;
    background:#fff343;
}
.product-price p{
    font: 30px 'Roboto Slab Regular',sans-serif;
    color: #ffffff;
    margin: 40px 0 10px;
}
.count label{
    color: #ffffff;
    font: 16px/28px 'Roboto Slab Regular',sans-serif;
}
.count-input input{
    width: 60px;
    height: 30px;
    text-align: center;
}
.count-input input::-webkit-outer-spin-button,
.count-input input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.count-input input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.count-input span{
    color: #FFFFFF;
    font-size: 30px;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
.order-dark-btn button{
    font: normal 16px/29px 'Roboto Slab Regular',sans-serif;
    letter-spacing: 0.14em;
    color: #FFFFFF;
    background-color: #3d3d3d;
    height: 42px;
    border: 1px solid transparent;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 80%;
}
.order-dark-btn button:hover{
    transition: all .3s ease-out;
    font-size: 18px;
}
.rotate{
    transition: all .3s ease-in-out;
    transform: rotate(180deg);
}
.favorite-btn button{
    margin-top: 20px;
    border: 1px solid #fff343;
    background: transparent;
    width: 80%;
    height: 42px;
    font: normal 16px/29px 'Roboto Slab Regular',sans-serif;
    letter-spacing: 0.14em;
    color: #fff343;
    cursor: pointer;
}
.favorite-btn button img{
    margin-right: 20px;
}
.product-text p{
    font: normal 16px/29px 'Roboto Slab Regular',sans-serif;
    color: #ffffff;
}
.show-more p{
    font: normal 16px/29px 'Roboto Slab Regular',sans-serif;
    color: #fff343;
    cursor: pointer;
}
.inner-menu{
    background:#fff;
    padding: 20px 10%;
    min-height: 433px;
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.75);
}
.inner-menu-list ul{
    list-style: none;
    padding-left: 0;
}

.inner-menu-list ul li a{
    font: normal 16px/29px 'Roboto Slab Regular',sans-serif;
    color: #ffffff;
}
.inner-menu-list ul li a:hover,
.inner-menu-list .sublist ul li a:hover{
    color: #fff343;
    transition: all .3s ease-in-out;
}
.inner-menu-list .sublist ul li a{
    font: normal 16px/29px 'Roboto Slab Regular',sans-serif;
    color: #ffffff;
}
.inner-menu-list .sublist ul{
    list-style: none;
    padding-left: 30px;
}
.promo a{
    font: normal 16px/29px 'Roboto Slab Regular',sans-serif;
    color: #ffffff;
}
.promo a img{
    margin-right: 20px;
}
.catalog-item{
    margin-top: 40px;
}
.catalog-item .image{
    position: relative;
}
.catalog-item .image img{
    width: 100%;
    height: 210px;
}
.catalog-item .image .like img{
    height: 25px;
    width: 29px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.catalog-item .image .promo img{
    height: 53px;
    width: 85px;
    position: absolute;
    left: 10px;
    top: 0;
}
.catalog-item .text-block{
    background-color: #FFFFFF;
    padding: 10px;
}
.catalog-item .text-block h6{
    color: #3d3d3d;
    font: normal 16px/29px 'Roboto Slab Regular',sans-serif;
    min-height: 3.6rem;
    max-height: 3.7rem;
}
.catalog-item .text-block p{
    color: #000000;
    font: 100 13px/18px 'Roboto Slab Light',sans-serif;
    height: 36px;
    overflow: hidden;
}
.wow:nth-child(3) .catalog-item p:nth-child(even) {
    height: 0;
}
.order-block{
    background-color: #3d3d3d;
    display: flex;
    padding: 5px;
}
.order-block button{
    font: normal 16px/29px 'Roboto Slab Regular',sans-serif;
    letter-spacing: 0.14em;
    color: #FFFFFF;
    background-color: #3d3d3d;
    border: 1px solid transparent;
    cursor: pointer;
    width: 80%;
}
.order-block input{
    width: 50%;
    border: 1px solid #ffffff;
    background: transparent;
    color: #FFFFFF;
    text-align: center;
}
.order-block input[type=number]::-webkit-inner-spin-button {
    background-color: #3d3d3d;
}
.quantity {
    position: relative;
    width: 50%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]
{
    -moz-appearance: textfield;
}

.quantity input {
    width: 100%;
    height: 42px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: 1px solid #eee;
}

.quantity input:focus {
    outline: 0;
}

.quantity-nav {
    float: left;
    position: relative;
    height: 42px;
}

.quantity-button {
    position: relative;
    cursor: pointer;
    width: 20px;
    text-align: center;
    color: #FFFFFF;
    font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 1.7;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: 0;

}
.quantity-button.quantity-down {
    position: absolute;
    bottom: -1px;
    height: 50%;
}
.table{
    margin: 50px 0 30px;
}
.table-responsive thead,tbody{
    font: normal 16px 'Roboto Slab Regular',sans-serif;
    color: #ffffff;
    vertical-align: middle;
    text-align: center;
}
.table th, .table td {
    vertical-align: middle;
    border-top: none;
}
.table thead th{
    border-bottom: 2px dashed #3d3d3d;
}
.table tr{
    border-bottom: 2px dashed #3d3d3d;
}
.table tr:last-child{
    border-bottom: none;
}
.table tr th, tr td{
    border-right: 2px dashed #3d3d3d;
}
.table tr th:last-child,
.table tr td:last-child{
    border-right: none;
}
.basket-product{
    display: flex;
}
.basket-product .image img{
    margin-right: 10px;
    min-width: 140px;
    max-width: 140.1px;
}
.basket-product p{
    font: bold 16px 'Roboto Slab Bold',sans-serif;
    color: #FFFFFF;
    vertical-align: middle;
}
.basket-product p span{
    font: normal 16px 'Roboto Slab Regular',sans-serif;
    color: #FFFFFF;
}
.clear-basket a{
    color: #fff343;
    font: normal 16px 'Roboto Slab Regular',sans-serif;
}
.total-cost{
    display: flex;
    justify-content: flex-end;
}
.total-cost .box{
    border: 1px solid #fff343;
    font: normal 16px 'Roboto Slab Regular',sans-serif;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 30px;
}
.total-cost p{
    font: normal 16px 'Roboto Slab Regular',sans-serif;
    color: #FFFFFF;
    margin: 10px 10px 0 0 ;
}
.order-basket button{
    float: right;
    width: 50%;
}
@media (max-width: 576px) {
    .dropdown-menu-mobile{
        display: none;
        text-align:center;
        color: #fff;
        background-color: rgba(161, 44, 44, 0.8);
    }
    .dropdown-menu-mobile a{
        color: #fff;
    }
     .dropdown-menu-mobile-active{
        display: block;
     }
       .product-title h5:before{
        top: 22%;
    }
     .order-dark-btn button{
        font-size: smaller;
        letter-spacing: 0;
        width: auto;
    }
    .favorite-btn button{
        font-size: smaller;
        letter-spacing: 0;
        width: auto;
    }
    .favorite-btn img{
        margin-right: 0 !important;
    }
    .order-basket button {
        float: right;
        width: auto;
    }
    .clear-basket{
        margin-bottom: 30px;
    }
    .product-card-bg{
        padding: 10px;
    }
    .partners{
        margin: 50px auto;
        width: 100%;
    }
    .partners p{
        display: block;
        margin-bottom: 30px;
    }
    .menu{
        display: none;
    }
    .basket-wrap{
        position: absolute;
        top: 2%;
        right: 20%;
    }
    .mobile-version{
        display: block;
    }
    .desktop-version{
        display: none;
    }
    .logo img{
        display: block;
        margin: auto;
    }
    .lang {
        padding-top: 15px;
        position: absolute;
        top: -100px;
        left: 15%;
    }
    .socials ul li {
        right: 0;
        top: 0;
        position: fixed;
    }
    .socials ul li:nth-child(2) {
        top: 6%;
        right: 0;
        position: fixed;
    }
    .socials ul li:nth-child(3) {
        top: 14%;
        right: 0;
        position: fixed;
    }
    .main-text {
        margin-top: 10%;
    }
    .owl-carousel .item {
        height: 175px;
        position: relative;
        width: 100%;
    }
    .carton1,
    .carton2{
        margin-top: 30px;
        position: relative;
        width: auto;
        height: auto;
        margin-left: 0;
        padding: 10px;
        left: 0;
        background: url("../images/carton3.jpg");
    }
    .phone-select{
        margin: 20px 0;
        position: relative;
    }
    .carton1 .title h4,
    .carton2 .title h4{
        margin: 20px 0;
        width: auto;
    }
    .dash-box{
        width: 100%;
        padding: 5px;
    }
    .dash-box .icon {
        padding: 0 ;
    }
    .top-btn img{
        height: 100px;
        width: 100px;
    }
    .img-box{
        position: relative;
        max-height: none;
    }
    .img-box img{
        width: 120px;
    }
    .img-item{
        margin: auto;
        display: block;
    }
    .hor-line,.ver-line{
        display: none;
    }
    .menu-item{
        padding-bottom: 20px;
        border-bottom: 2px dashed rgba(0, 0, 0, 0.2);
    }
    .menu-btn button,
    .show-more button{
        margin: 10px auto;
        display: block;
    }
    .carton3{
        margin-top: 40px;
        position: relative;
        margin: 0;
        width: 100%;
        background-repeat: repeat;
        padding: 10px ;
        height: auto;
    }

}
@media (min-width: 576px) and (max-width: 768px){
    
      .carton1{
        position: relative;
    }
    .menu{
        display: none;
    }
    .carton3{
        margin-top: 40px;
        position: relative;
        margin: 0;
        width: 100%;
        background-repeat: repeat;
        padding: 10px ;
        height: auto;
    }
    .img-box{
        position: relative;
    }
    .hor-line,.ver-line{
        display: none;
    }
    .menu-item {
        padding: 0;
        margin-bottom: 30px;
    }
    .socials ul li {
        right: 0;
        top: 30%;
    }
    .socials ul li:nth-child(2) {
        top: 36%;
        right: 0;
    }
    .socials ul li:nth-child(3) {
        top: 42%;
        right: 0;
    }
    .menu-item{
        padding-bottom: 20px;
        border-bottom: 2px dashed rgba(0, 0, 0, 0.2);
    }

}
@media (min-width: 768px) and (max-width: 994px){
    .new-menu div{
        margin: 0 1%;
    }

    .logo img {
    display: block;
    margin: auto;
}
     .order-dark-btn button{
        font-size: smaller;
        letter-spacing: 0;
        width: auto;
    }
    .favorite-btn button{
        font-size: smaller;
        letter-spacing: 0;
        width: auto;
    }
    .favorite-btn img{
        margin-right: 0 !important;
    }
      .product-title h5:before{
        top: 23%;
    }

    .carton1{
        position: relative;
    }
    .menu{
        display: block;
    }
    .search{
        padding-top: 0;
    }
    .carton3{
        margin-top: 40px;
        position: relative;
        margin: 0;
        width: 100%;
        background-repeat: repeat;
        padding: 10px ;
        height: auto;
    }
    .img-box{
        position: relative;
    }
    .hor-line,.ver-line{
        display: none;
    }
    .menu-item {
        padding: 0;
        margin-bottom: 30px;
    }
    .menu-item{
        padding-bottom: 20px;
        border-bottom: 2px dashed rgba(0, 0, 0, 0.2);
    }
    .socials ul li {
        right: 0;
        top: 30%;
    }
    .socials ul li:nth-child(2) {
        top: 31%;
        right: 0;
    }
    .socials ul li:nth-child(3) {
        top: 74%;
        right: 0;
    }
}
@media (min-width: 994px) and (max-width: 1200px) {
    .toggle-menu ul li a {
        color: #FFFFFF;
        font: 500 10px 'Raleway Medium', sans-serif;
        letter-spacing: 0.06em;
        padding: 0 5px;
    }
    .carton1{
        position: relative;
    }
    .carton3{
        margin-top: 40px;
        position: relative;
        margin: 0;
        width: 100%;
        background-repeat: repeat;
        padding: 10px ;
        height: auto;
    }
    .img-box{
        position: relative;
    }
    .hor-line,.ver-line{
        display: none;
    }
    .menu-item {
        padding: 0;
        margin-bottom: 30px;
    }
    .socials ul li {
        right: 0;
        top: 30%;
    }
    .socials ul li:nth-child(2) {
        top: 36%;
        right: 0;
    }
    .socials ul li:nth-child(3) {
        top: 42%;
        right: 0;
    }
}
@media (min-width: 1400px) {
    .header{
        height: 70vh;
    }
    .carton3 .ver-line {
        left: 55.5%;
    }
}
@media (min-width: 1900px) {
    .carton3 {
        padding-left: 5%;
    }
    .carton3 .ver-line {
        left: 42%;
    }
}
@media (min-width: 2500px) {
    .header{
        height: 70vh;
    }
    .carton3 .ver-line {
        left: 45.5%;
    }
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

body,
html {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/frontend/web/images/card-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -1rem;
}

/* product card */

.product-card .breadcrumbs {
    display: flex;
    padding: 0;
}

.product-card .breadcrumbs li {
    list-style-type: none;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    padding-left: 2px;
}

.product-card .breadcrumbs li:first-child {
    padding-left: 0;
}

.product-card .breadcrumbs li a {
    color: #fff;
}

.product-card .breadcrumbs li .breadcrumbs-active {
    color: #fff343;
}

.product-card .product-card__bg {
    background-image: url('/frontend/web/images/bg-card.png');
    background-position-y: -4rem;
    width: 100%;
    padding: 0 0 3rem 0;
    background-repeat: no-repeat;
}

.product-card .border-dashed {
    width: 25rem;
    height: 16rem;
    border: 1px dashed #fff343;
    position: absolute;
    bottom: 1rem;
    right: 2rem;
}

.product-card .product-card__main-img {
    margin: 2rem .5rem;
}

.product-card .product-card__main-img img {
    width: 25rem;
    height: 16rem;
    z-index: 9;
    position: relative;
}

.product-card .product-card__main-info .product-card__main-info_title {
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    font-weight: 700;
    margin-top: 2.5rem;
    margin-bottom: 0;
}

.product-card .product-card__main-info .product-card__main-info_line {
    background-color: #fff343;
    height: 4px;
    width: 93px;
    display: inline-block;
}

.product-card .product-card__main-info .product-card__main-ingo_price {
    font-size: 30px;
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    margin-top: 1rem;
}

.product-card .product-card__main-info .product-card__main-ingo_quantity {
    font-size: 16px;
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
}

.product-card .product-card__main-info .product-card__main-ingo_quantity-input {
    display: flex;
    padding: 0;
    align-items: center;
}

.product-card .product-card__main-info .product-card__main-ingo_quantity-input li {
    list-style-type: none;
}

.product-card .product-card__main-info .product-card__main-ingo_quantity-input .minus:hover,
.product-card .product-card__main-info .product-card__main-ingo_quantity-input .plus:hover {
    cursor: pointer;
}

.product-card .product-card__main-info .product-card__main-ingo_quantity-input li input[type="number"] {
    width: 63px;
    text-align: center;
    border-radius: 0;
    border: 0;
    height: 31px;
    margin: 0 11px;
}

.product-card .product-card__main-info .product-card__main-ingo_quantity-input li input[type="number"]::-webkit-inner-spin-button,
.product-card .product-card__main-info .product-card__main-ingo_quantity-input li input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.product-card .product-card__main-info .product-card__main-ingo_quantity-input li input[type="number"] {
    -moz-appearance: textfield;
}

.product-card .product-card__main-info .product-card__btn .order-buy {
    background-image: url('/frontend/web/images/basket.png');
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.54);
    background-color: #3d3d3d;
    background-repeat: no-repeat;
    border: 0;
    padding: 12px 80px 12px 27px;
    font-family: 'Roboto Slab', serif;
    color: #fff;
    width: 180px;
    background-position: 75%;
}

.product-card .product-card__main-info .product-card__btn .favorites-buy {
    background-image: url('/frontend/web/images/like.png');
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    padding: 11px 17px 11px 62px;
    font-family: 'Roboto Slab', serif;
    color: #fff;
    width: 180px;
    background-position: 10%;
    border: 1px solid #fff343;
    margin-left: 51px;
}

.product-card .product-card__main-info .product-card__btn input[type="submit"] {
    cursor: pointer;
}

.product-card .product-card__text-wrapper .product-card__text-main p {
    font-family: 'Roboto Slab', serif;
    color: #fff;
    font-size: 16px;
    line-height: 28px;
}

.like .delete-icon{
    font-size: 20px;
    color: #feff14;
    position: absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;
}
.like .delete-icon:hover{
    transform: rotate(90deg);
    transition: all .3s ease;
}

.sales {
    background: #FFF;
    position: relative;
}

.sales img {
    width: 100%;
}
.registr {
    text-decoration: none;
    color: #FFF;
}

.swal2-actions button {
    background: #DD2A1B !important
}
.swal2-modal {
    background: linear-gradient(rgba(40, 40, 40, 1),rgba(40, 40, 40, 1)) !important;
    color: #FFF !important
}


.swal2-modal textarea{
  width: 70% !important;
  height: 200px !important;
}

.signUp {
    background: linear-gradient(rgba(40, 40, 40, 1),rgba(40, 40, 40, 1));
    color: #FFF;
} 

.vacancySubmit {
    padding: .5rem 1rem;
    color: #FFFFFF !important;
    background: #DD2A1B;
    border-radius: 7px;
    margin-left: 50px;
    cursor: pointer;
    display: none;
}

textarea {
    width: 90%;
    height: 100px;
}

.authorization-input input {
    width: 90%;
    margin-bottom: 1rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    padding-left: 1rem;
}
.modal-body{
    padding: 1rem 1rem 0;
}
.registr:hover {
    text-decoration: none;
    color: #FFF;
}
.modal-footer{
    justify-content: space-between;
    padding: 1rem 2.5rem
}
.modal-footer a{
    color: #Fff;
}
.sales .product-row {
  color: #000 !important;
  position: absolute;
  bottom: 0;
  padding: 2rem 1rem;
  left: 5%;
}


.info__pay-delivery {
    margin: 2rem 0 ;
   background: url(../images/bg-card.png);
   color: #000 !important;
   text-align: center;
   /* height: 100vh; */
   font-family: 'Roboto Slab', serif;
   padding-top: 2rem;
}

.info__pay-delivery p {
   padding: 5%;
 }
 

.sales {
    min-height: 300px
  }
  

.product-card .product-card__text-wrapper {
    margin-top: 2rem;
}

.product-card .product-card__text-wrapper .product-card__text-more_btn a {
    color: #fff343;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}

.product-card .product-card__text-wrapper .product-card__text-more_btn a:hover {
    text-decoration: none;
}

.inactive-text__wrapper {
    display: none;
}

@media only screen and (max-width: 576px) {
    .product-card .product-card__main-img img {
        width: 100%;
    }

    .product-card .border-dashed {
        display: none;
    }

    .product-card .product-card__main-info .product-card__btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-card .product-card__main-info .product-card__btn .favorites-buy {
        margin-left: 0;
    }
    .registr {
        margin-left: 1rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .product-card .product-card__main-img {
        display: flex;
        justify-content: center;
    }

    .product-card .border-dashed {
        position: absolute;
        bottom: -1rem;
        right: 7rem;
    }
    .phone{
        margin-left: 1rem;
    }
    .registr {
        margin-left: 1rem;
    }

}

/* product card end */




/* cart */
.cart .breadcrumbs {
    display: flex;
    padding: 0;
}

.cart .breadcrumbs li {
    list-style-type: none;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    padding-left: 2px;
}

.cart .breadcrumbs li:first-child {
    padding-left: 0;
}

.cart .breadcrumbs li a {
    color: #fff;
}

.cart .cart-title__wrapper .cart-title {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
}

.cart .cart-title__wrapper .cart-title__line {
    width: 93px;
    height: 4px;
    background-color: #fff343;
    display: inline-block;
}

.cart .cart-title__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart .cart-left__name-title {
    color: #fff343;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    margin-top: 53px;
}

.cart .cart-left__input-name_wrapper .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.cart .cart-left__input-name_wrapper .form-group input {
    border: 1px solid #fff343;
    background: transparent;
    border-radius: 0;
    width: 347px;
    height: 38px;
    color: #fff;
}

.cart .cart-left__input-name_wrapper .form-group input:focus,
.cart .cart-left__input-name_wrapper .form-group input:active {
    outline: none !important;
    box-shadow: none !important;
}

.cart .cart-left__input-name_wrapper .form-group label {
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
}

.cart .cart-left__input-name_wrapper .form-group input::placeholder {
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
    color: #ffffff;
}

.cart .cart-left__input-name_star {
    color: #ff0000;
    font-family: 'Roboto Slab', serif;
}

.cart .cart-left__delivery-title {
    display: flex;
    flex-direction: column;
}

.cart .cart-left__delivery-title p {
    color: #fff343;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}

.cart .cart-left__delivery-title span {
    font-size: 14px;
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
}

.cart .cart-right__name-title p {
    color: #e9ebed;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    margin-bottom: 0;
    padding-left: 20px;
}

.cart .cart-right__name-title span {
    color: #fff343;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
}

.cart .cart-right__name-title {
    background-color: #3d3d3d;
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.54);
    width: 100%;
    height: 38px;
    display: flex;
    align-items: center;
    background-image: url('/frontend/web/images/basket.png');
    background-repeat: no-repeat;
    background-position: 95%;
    margin-top: 53px;
}

.cart .cart-right__list-product {
    padding: 2rem 0;
}

.cart .cart-right__list-product ul {
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
}
@media only screen and (max-width: 576px){
    .cart .cart-right__list-product ul {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }
    .cart .cart-right__list-product ul li:nth-child(2) {
        margin-right: 0 !important;
    }
    .cart .cart-right__list-product .cart-right__list-product_title {
        text-align: center;
    }
}

.cart .cart-right__list-product ul li {
    list-style-type: none;
}

.cart .cart-right__list-product ul li:nth-child(2) {
    margin-right: 8rem;
}

.cart .cart-right__list-product ul li:nth-child(2) span {
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
    color: #fff;
    font-size: 16px;
}

.cart .cart-right__list-product p {
    margin-bottom: 0;
}

.cart .cart-right__list-product .cart-right__list-product_title {
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 700;
}

.cart .cart-right__list-product .cart-right__list-product_price {
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 700;
}

.cart .cart-right__footer-price {
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.54);
    width: 100%;
    background-color: #3d3d3d;
}

.cart .cart-right__footer-price ul {
    padding: 23px 31px;
}

.cart .cart-right__footer-price ul li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.cart .cart-right__footer-price ul li p {
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 700;
}

.cart .cart-right__footer-price ul li span {
    color: #fff343;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

.cart .cart-left__delivery .check {
    opacity: 0;
    width: 20px;
    height: 20px;
}

.cart .cart-left__delivery .check:hover {
    cursor: pointer;
}

.cart .cart-left__delivery label {
    width: 20px;
    height: 20px;
    border: 1px solid #fff343;
    border-radius: 50%;
    display: block;
    margin-bottom: 0;
}

.cart .cart-left__delivery {
    display: flex;
    align-items: center;
    margin-top: 29px;
}

.cart .cart-left__delivery p {
    font-family: 'Roboto Slab', serif;
    color: #fff343;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
    margin-left: 15px;
}

.cart .cart-left__delivery label .active {
    width: 12px;
    height: 12px;
    background-color: #fff343;
    border-radius: 50%;
    display: block;
    margin: 3px auto;
}

.cart .cart-left__delivery_text p {
    font-family: 'Roboto Slab', serif;
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    margin-top: 13px;
    text-align: left;
}

.cart .cart-left__delivery_text p span {
    font-weight: 700;
}

.cart .card-left_wrapper-wallet .check {
    opacity: 0;
    width: 20px;
    height: 20px;
}

.cart .card-left_wrapper-wallet .check:hover {
    cursor: pointer;
}

.cart .card-left_wrapper-wallet label {
    width: 20px;
    height: 20px;
    border: 1px solid #fff343;
    border-radius: 50%;
    display: block;
    margin-bottom: 0;
}

.cart .card-left_wrapper-wallet label .active {
    width: 12px;
    height: 12px;
    background-color: #fff343;
    border-radius: 50%;
    display: block;
    margin: 3px auto;
}

.cart .card-left_wrapper-wallet{
    display: flex;
    margin-top: 31px;
}
.cart .card-left_wrapper-wallet ul{
    display: flex;
    padding: 0;
}
.cart .card-left_wrapper-wallet ul:last-child{
    padding-left: 81px;
}

.cart .card-left_wrapper-wallet ul li{
    list-style-type: none;
}
.cart .card-left_wrapper-wallet ul li:last-child{
    padding-left: 15px;
}
.cart .card-left_wrapper-wallet ul li p{
    color: #fff343;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
}
.cart .cart-left__input-name_wrapper .money-wrapper small{
    width: 337px;
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
    display: inline-block;
}
.cart .cart-left__top-btn p{
    font-family: 'Roboto Slab', serif;
    color: #ffffff;
    font-size: 14px;
}
.cart .cart-left__top-btn input[type="submit"]{
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.54);
    background-color: #3d3d3d;
    border:0;
    padding: 11px 41px;
}
.cart .cart-left__top-btn input[type="submit"]:hover{
    cursor: pointer;
}
.cart .cart-left__top-btn button{
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.54);
    background-color: #3d3d3d;
    border:0;
    padding: 11px 41px;
}
.cart .cart-left__top-btn button:hover{
    cursor: pointer;
}

/* end cart */
.inner-title div{
    margin-right: 0 !important;
}

.swal-footer{
    text-align:center;
}
.clear-basket{
    cursor: pointer;
}
